<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta-Information -->
  <title>AuditLead</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="AuditLead Audit Management Software" content="AuditLead">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Stylesheets required-->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="bower_components/roboto-fontface/css/roboto-fontface.css" />
  <link rel="stylesheet" href="bower_components/angular-gantt/assets/angular-gantt.css" />
  <link rel="stylesheet" href="bower_components/angular-gantt/assets/angular-gantt-plugins.css" />
  <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.css" />
  <link rel="stylesheet" href="bower_components/viewer/dist/crocodoc.viewer.css" />
  <link rel="stylesheet" href="bower_components/angular-material-data-table/dist/md-data-table.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css(.tmp) styles/main.css -->
  <!-- Our Website CSS Styles -->

  <!-- endbuild -->

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-native-dragdrop/draganddrop.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>
  <script src="bower_components/angular-gantt/assets/angular-gantt.js"></script>
  <script src="bower_components/angular-gantt/assets/angular-gantt-plugins.js"></script>
  <script src="bower_components/tinymce/tinymce.js"></script>
  <script src="bower_components/firebase/firebase.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.js"></script>
  <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
  <script src="bower_components/css-element-queries/src/ElementQueries.js"></script>
  <script src="bower_components/css-element-queries/src/ResizeSensor.js"></script>
  <script src="bower_components/Chart.js/dist/Chart.js"></script>
  <script src="bower_components/viewer/dist/crocodoc.viewer.js"></script>
  <script src="bower_components/tether/dist/js/tether.js"></script>
  <script src="bower_components/tether-shepherd/dist/js/shepherd.js"></script>
  <script src="bower_components/angular-material-data-table/dist/md-data-table.js"></script>
  <script src="bower_components/angular-filter/dist/angular-filter.min.js"></script>
  <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
  <script src="bower_components/re-tree/re-tree.js"></script>
  <script src="bower_components/ng-device-detector/ng-device-detector.js"></script>
  <script src="bower_components/tinymce-dist/tinymce.js"></script>
  <script src="bower_components/angular-ui-tinymce/src/tinymce.js"></script>
  <!-- endbower -->
  <!-- endbuild -->


  <!-- Our Website Javascripts -->
  <!-- build:js({.tmp,app}) scripts/main.js -->
 

  <!--Graphs-->
  
  <!-- endbuild -->
</head>

<body layout="column" ng-app="mainApp">
  <div layout="row" flex id="fullapp">
    <div layout="column" class="sidenav" flex="nogrow">
      <navigation-menu ng-if="showNav" layout="row" flex></navigation-menu>
    </div>
    <div layout="column" flex >
      <header-view ng-if="showNav" flex="none"></header-view>
      <md-content id='parent' layout="column">
        <ng-view class="animate-switch"></ng-view>
      </md-content>
      <file-side-nav ng-if="showNav"></file-side-nav>
    </div>
  </div>
</body>

</html>