<md-card class="max-width-300">
  <md-card-content>
    <div>
      <p class="md-subhead">Help in the Future</p>
    </div>
    <div layout layout-align="center center">
      <img ng-src="/images/help.png"></img>
    </div>
    <div>
      <p class="md-caption">I'll be down here if you need me again, just click on the question mark and I can guide you around.</p>
    </div>
    <div>
      <p class="md-caption">Every page has a different demo, so if you ever stuck or want to learn something new, just click the question mark.</p>
    </div>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button ng-click="$ctrl.close()" class="md-accent">
      <!--<span class="fa fa-times"></span>-->
      <span>OK</span>
    </md-button>
  </md-card-actions>
</md-card>