<md-card class="max-width-450">
  <md-card-content>
    <div>
      <p class="md-subhead">Universal Search</p>
    </div>
  </md-card-content>
  <div>
    <div layout layout-align="center center">
      <img ng-src="/images/search.gif"></img>
    </div>
  </div>
  <md-card-content>
    <div>
      <p class="md-caption">AuditLead's universal search allows you to quickly search for clients, business areas, sub business areas, assignment
        and issues.</p>
    </div>
    <div>
      <p class="md-caption">Click on the search icon, and just start typing. Results will be displayed in real-time as you type.</p>
    </div>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button ng-click="$ctrl.back()" class="md-accent">
      <span class="fa fa-arrow-left"></span>
      <span>Back</span>
    </md-button>
    <md-button ng-click="$ctrl.next()" class="md-accent">
      <span>Next</span>
      <span class="fa fa-arrow-right"></span>
    </md-button>
  </md-card-actions>
</md-card>